@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
  --text: #f4f2ec;
  --background: #3B351F;
  --primary: #dcc98e;
  --secondary: ;
  --accent: #e9b822;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Jersey 10",'Courier New', Courier, monospace;
}

h1{
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h1, h2 {
  background: linear-gradient(159deg, rgba(219,152,37,1) 0%, rgba(250,178,8,1) 35%, rgba(253,220,52,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:visited {
  text-decoration: none;
}